In [43]:
# !pip install selenium

In [44]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

navegador = webdriver.Chrome("chromedriver.exe")

# Passo 1: Pegar a cotação do Dólar
navegador.get("https://google.com/")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação do dólar")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
dolar = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(dolar)
# Passo 2: Pegar a cotação do Euro
navegador.get("https://google.com/")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação do euro")
navegador.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
euro = navegador.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute("data-value")
print(euro)
# Passo 3: Pegar a cotação do Ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")
ouro = navegador.find_element_by_xpath('//*[@id="comercial"]').get_attribute("value")
ouro = ouro.replace(",",".")
print(ouro)

5.50835
6.378118465
311.22

In [45]:
# Passo 4: Importar a base de dados
import pandas as pd

tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [46]:
# Passo 5: Atualizar a cotação, preço de compra e preço de venda da base de dados

tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(dolar)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(ouro)

tabela["Preço Base Reais"] = tabela["Preço Base Original"] * tabela["Cotação"]
tabela["Preço Final"] = tabela["Preço Base Reais"] * tabela["Margem"]

tabela["Preço Final"] = tabela["Preço Final"].map("R$ {:.2f}".format)

display(tabela)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.508350,5508.294916,1.40,R$ 7711.61
1,Carro Renault,4500.00,Euro,6.378118,28701.533093,2.00,R$ 57403.07
2,Notebook Dell,899.99,Dólar,5.508350,4957.459916,1.70,R$ 8427.68
3,IPhone,799.00,Dólar,5.508350,4401.171650,1.70,R$ 7481.99
4,Carro Fiat,3000.00,Euro,6.378118,19134.355395,1.90,R$ 36355.28
5,Celular Xiaomi,480.48,Dólar,5.508350,2646.652008,2.00,R$ 5293.30
6,Joia 20g,20.00,Ouro,311.220000,6224.400000,1.15,R$ 7158.06

In [47]:
# Passo 6: Exportar o relatório atualizado
tabela.to_excel("Produtos Update.xlsx", index = False)

In [48]:
tabela = pd.read_excel("Produtos Update.xlsx")
display(tabela)

navegador.quit()

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Margem,Preço Final
0,Câmera Canon,999.99,Dólar,5.508350,5508.294916,1.40,R$ 7711.61
1,Carro Renault,4500.00,Euro,6.378118,28701.533093,2.00,R$ 57403.07
2,Notebook Dell,899.99,Dólar,5.508350,4957.459916,1.70,R$ 8427.68
3,IPhone,799.00,Dólar,5.508350,4401.171650,1.70,R$ 7481.99
4,Carro Fiat,3000.00,Euro,6.378118,19134.355395,1.90,R$ 36355.28
5,Celular Xiaomi,480.48,Dólar,5.508350,2646.652008,2.00,R$ 5293.30
6,Joia 20g,20.00,Ouro,311.220000,6224.400000,1.15,R$ 7158.06